.cart {
    margin: auto;
    width: 50em;
    padding: 2em;
}

.amount {
    margin-top: 2em;
    padding: 1em 2em;
    background-color: #9798b210;
    display: flex;
    flex-direction: column;
    gap: 1em;
    border-radius: 8px;
    margin-bottom: 1em;
}

.amount div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
