.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 5em;
    border-bottom: 1px solid #00000020;
}
.header ul {
    display: flex;
    gap: 3em;
}
.header li {
    display: inline;
    cursor: pointer;
}
